In [59]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import seaborn as sns


df=pd.read_csv('energydata_complete.csv')
df

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [88]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
features_df = df.drop(columns=["date","lights"])
normalised_df=pd.DataFrame(scaler.fit_transform(features_df), columns=features_df.columns)
appliances_target = normalised_df['Appliances']

In [93]:
#and target variables
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(features_df, appliances_target, test_size = 70, random_state=42)
 
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression()

#fit the model to the training dataset
linear_model.fit(x_train, y_train)
#obtain predictions
predicted_values = linear_model.predict(x_test)


#MAE

from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2)

0.0

In [94]:
from sklearn.metrics import mean_squared_error
rmse=np.sqrt(mean_squared_error(y_test,predicted_values))
round(rmse, 3)

0.0

In [95]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test,predicted_values)
round(r2_score, 2)

1.0

In [97]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.5)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.5)

In [98]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)

#computing the effects of regularisation
def get_weights_df(model, feat, col_name):
    #this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

linear_model_weights = get_weights_df(linear_model, x_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, x_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_Weight')

final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')
final_weights

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_Weight
0            T9        -6.832386e-18 -5.883824e-11      0.000000
1            T1        -5.583291e-18  1.071973e-12      0.000000
2         T_out        -4.208572e-18 -2.802022e-11      0.000000
3          RH_4        -3.489676e-18  5.068082e-12      0.000000
4          RH_1        -1.823615e-18  4.270129e-11      0.000000
5        RH_out        -1.499343e-18 -2.377361e-12     -0.000000
6           rv1        -8.268926e-20 -5.392662e-14     -0.000000
7           rv2        -8.268926e-20 -5.392662e-14     -0.000000
8    Visibility        -4.447317e-20  4.553894e-13      0.000000
9          RH_3         2.014131e-20  1.337410e-11      0.000000
10  Press_mm_hg         9.751329e-20  3.183198e-13     -0.000000
11         RH_6         1.068642e-19  9.080078e-13     -0.000000
12         RH_5         2.096654e-19  6.393804e-13      0.000000
13         RH_7         3.101134e-19 -4.895379e-12     -0.000000
14           T3         3.288253e-19  6.722049e-11      0.000000
15           T6         5.713830e-19  2.017867e-11      0.000000
16    Windspeed         1.088912e-18  5.644564e-12      0.000000
17           T8         1.124475e-18  2.689475e-11      0.000000
18         RH_8         1.536060e-18 -1.566977e-11     -0.000000
19    Tdewpoint         2.677698e-18  1.340978e-11      0.000000
20         RH_9         2.739235e-18 -3.902248e-12     -0.000000
21           T2         3.354673e-18 -5.373492e-11      0.000000
22         RH_2         4.018052e-18 -3.823638e-11     -0.000000
23           T4         4.058107e-18  7.898803e-12      0.000000
24           T7         5.033481e-18  2.901267e-12      0.000000
25           T5         5.210747e-18  1.246781e-13      0.000000
26   Appliances         9.345794e-04  9.345794e-04      0.000934

In [99]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4)

In [100]:
from sklearn.metrics import mean_squared_error
rmse=np.sqrt(mean_squared_error(y_test,predicted_values))
round(rmse, 3)

0.0